<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AreaDAO">


    <select id="findByCityCode" resultType="com.baizhi.entity.Area">
      select id,name,code from area where cityid = #{code}
    </select>

</mapper>