<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.MessageDAO">


    <insert id="save" parameterType="com.baizhi.entity.Message">
      insert into message values(#{id},#{content},#{createDate},#{counts},#{user.id});
    </insert>

    <select id="findAll" resultType="com.baizhi.entity.Message">
        select id,content,createDate,counts from message
    </select>



</mapper>